* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}
ul {
  margin-bottom: 0 !important;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: var(--poppins);
}
a:hover {
  text-decoration: none !important;
  color: var(--lightGreen);
}
:root {
  --letterSpacing: 0.04rem;
  --green: #028a2f;
  --darkGreen: #00541c;
  --mediumGreen: #c8fcc8;
  --lightGreen: #f2fef2;
  --darkGrey: #0c1416;
  --darkBlue: #0f1e21;
  --poppins: "Poppins", sans-serif;
  --playfairDisplay: "Playfair Display";
  --maxWidth: 1386px;
  --transition: 500ms ease-in-out;
}
button {
  position: relative;
}

.button-arrow {
  position: absolute;
  right: 15px;
}

/* row container */
.row-container {
  max-width: 1386px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-around {
  justify-content: space-around;
}
.flex-align-center {
  align-items: center;
}

/* font family */
.tokyo-zen {
  font-family: var(--zen);
}
.della {
  font-family: var(--playfairDisplay);
}
/* colors */
.gold {
  color: var(--green);
}

/* font sizes  */
.large-font-size {
  font-size: 5rem;
}
.column-font-size {
  font-size: 2rem;
}
@media (max-width: 800px) {
  .large-font-size {
    font-size: 2rem;
  }
  .column-font-size {
    font-size: 1.5rem;
  }
}

/* invalid  */
.invalid {
  border: 2px solid red;
}
.errors {
  color: red;
}
.success {
  color: green;
}

/* font align */
.center-align {
  text-align: center;
}

/* font weight */
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
/* carousel  */
.carousel-indicators {
  position: absolute !important;
  bottom: -50px !important;
}
.carousel-indicators li {
  background-color: black !important;
}
/* hero carousel  */

/* active classes  */
.inactive {
  display: none !important;
}
.active {
  display: block;
}
/* button active class */
.button-active {
  background: var(--green) !important;
  color: var(--darkGrey) !important;
}

/* Gallery Image wrapper */
.gallery-image-wrapper {
  height: 100%;
  width: 100%;
}
/* border radius */
.round-border {
  border-radius: 50%;
  width: 600px;
}

/* input fields */
input[type="date"]::before {
  content: attr(placeholder) ":  ";
}
input[type="date"]:focus::before {
  content: "" !important;
}
input[type="time"]::before {
  content: attr(placeholder) ":  ";
}
input[type="time"]:focus::before {
  content: "" !important;
}

/* 404 page css  */
#oopss {
  background: linear-gradient(-45deg, var(--yellow), var(--darkYellow));

  width: 100%;
  height: 80vh;
  line-height: 1.5em;
  z-index: 9999;
}
#oopss span {
  font-size: 3rem !important;
}
#oopss #error-text {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 80vh;
}
#oopss #error-text img {
  margin: 85px auto 20px;
  height: 342px;
}
#oopss #error-text span {
  position: relative;
  font-size: 3.3em;
  font-weight: 900;
  margin-bottom: 50px;
}
#oopss #error-text p.p-a {
  font-size: 19px;
  margin: 30px 0 15px 0;
}
#oopss #error-text p.p-b {
  font-size: 15px;
}
#oopss #error-text .back {
  background: #fff;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  margin: 2em auto 0;
  padding: 0.7em 2em;
  border-radius: 500px;
  box-shadow: 0 20px 70px 4px rgba(0, 0, 0, 0.1),
    inset 7px 33px 0 0px var(--yellow);
  font-weight: 900;
  transition: all 300ms ease;
}
#oopss #error-text .back:hover {
  -webkit-transform: translateY(-13px);
  transform: translateY(-13px);
  box-shadow: 0 35px 90px 4px rgba(0, 0, 0, 0.3), inset 0px 0 0 3px #000;
}
#rd-widget-root .logo-panel {
  display: none !important;
}
